.aboutContainer {
    /* Yellow background */
    color: #ff4d4f;
    /* Red text */
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    font-family: 'VT323', monospace;
}

.title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.text {
    font-size: 1.5rem;
    color: #ff4d4f;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .text {
        font-size: 1.2rem;
    }
}